*{
    margin: 0;
    padding: 0;

}
body{
    background-color:black;
    color: white;
}
.image img,.home img,.searchbar img {
    height: 30px;
    width: 35px;
}



.navbar{
    display:flex;
    justify-content: space-evenly;
}
#signup{
    border: 2px solid black;
    border-radius: 30px;
    background-color: black;
    color:rgb(185, 185, 185);
    font-size: 16px;
    height: 7vh;
    width:9vw;
}
#login{
    border: 2px solid black;
    border-radius: 1.2rem;
    background-color: rgb(255, 255, 255);
    color:black;
    font-size: 20px;
    height: 7vh;
    width:9vw;

}
.searchbar{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    height: 60px;
}
.spanimg{
    
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    border-radius: 25px;

}
.searchbar input{
    
    
    background-color: rgb(75, 74, 74);
    color: white;
    height: 60px;
    width:500px;


}
.searchbar{
    margin-top: 1vh;
    
}
.left{
    color:rgb(56, 56, 56);
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height:80vh;
    width:25vw;
    
    

    
}
.left .playlist{
    display:flex;
    flex-direction: column;
    border: 2px solid grey;
    height:15%;
    align-items: start;
    justify-content: space-around;

}
.left .podcasts{
    border: 2px solid grey;
    height:15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.left .cookies ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid grey;
    align-items: center;
    justify-content: space-around;
    padding-right: 5px;



}
.invert{
    filter:invert()
}
